<a href="https://colab.research.google.com/github/mesogin/TIS2/blob/main/%EB%8D%B0%EC%9D%B4%ED%84%B0_%EB%B3%91%ED%95%A9.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#데이터 병합
##concat 함수 기초
concat 함수는 둘 이상의 시리즈 혹은 데이터프레임을 행 혹은 열 방향으로 이어붙이는 함수이다.

[그림: concat 함수](https://docs.google.com/presentation/d/1xS84-v_VnsHBtdBWNztR46BOskrzOVpI7re7iSlDFO0/edit?usp=sharing)

In [ ]:
#행방향 데이터 병합
import pandas as pd
df1 = pd.DataFrame({"A":[1,2,3], "B":[1,2,3]})
df2 = pd.DataFrame({"A":[4,5], "B":[4,5]})
# display(df1)
# display(df2)

#axis인자를 0으로 설정하고 ignor_index를 True와 False로 설정해서 병합하기
display(pd.concat([df1, df2], axis = 0, ignore_index = True)) #기존의 인덱스를 활용 안해도 된다면 True
display(pd.concat([df1, df2], axis = 0, ignore_index = False))  #기존의 인덱스를 그대로 활용해야 한다면 False

df3 = pd.concat([df1, df2], axis = 0, ignore_index = False)
df3.loc[0]

   A  B
0  1  1
1  2  2
2  3  3
3  4  4
4  5  5

   A  B
0  1  1
1  2  2
2  3  3
0  4  4
1  5  5

   A  B
0  1  1
0  4  4

In [ ]:
#연습문제
#두개의 데이터프레임을 위아래로 연결하시오.
import numpy as np
df1 = pd.DataFrame(np.arange(12).reshape(4, 3), index=["A", "B", "C", "D"])
df2 = pd.DataFrame(np.arange(12).reshape(4, 3), index=["a", "b", "c", "d"])

#연결하기
df3 = pd.concat([df1, df2], ignore_index=False, axis =0)

display(df3)

   0   1   2
A  0   1   2
B  3   4   5
C  6   7   8
D  9  10  11
a  0   1   2
b  3   4   5
c  6   7   8
d  9  10  11

In [ ]:
#열방향 데이터 병합

df1 = pd.DataFrame({"A":[1,2,3],"B":[4,5,6]})
df2 = pd.DataFrame({"C":[7,8,9]})
df3 = pd.concat([df1, df2], axis = 1, ignore_index = True) #인덱스값을 디폴트값으로 가져옴
display(df3)

#df3에 인덱스값 넣기
df3.index = ["A", "B", "C"]
display(df3)
display(pd.concat([df1, df2], axis = 1, ignore_index = False)) #인덱스값을 그대로 가져옴

   0  1  2
0  1  4  7
1  2  5  8
2  3  6  9

   0  1  2
A  1  4  7
B  2  5  8
C  3  6  9

   A  B  C
0  1  4  7
1  2  5  8
2  3  6  9

##merge 함수
merge(병합) 함수는 두 개의 데이터프레임을 조인하는 함수입니다.  
조인이란 두 데이터프레임의 공통된 칼럼을 기준으로 두데이터프레임을 병합하는것 입니다.

In [ ]:
#rename
sports = pd.read_csv("/content/drive/MyDrive/Colab Notebooks/TIS/연습파일/sports.csv")
subject = pd.read_csv("/content/drive/MyDrive/Colab Notebooks/TIS/연습파일/subject.csv")

#컬럼 이름 바꾸기(rename)
subject.rename({"성명":"이름"}, axis = 1, inplace = True)

    이름  번호 좋아하는 운동
0  김민규   1      축구
1  임재광   2      농구
2   최선   3      배구
3  정승용   4      족구
4  강재훈   5      배구
5  장윤제   6      축구
6  고연서   7      피구
7  유원종   8   아이스하키
8  채관수   9      하키
9  김중교  10      축구

In [ ]:
import pandas as pd

df1 = pd.DataFrame({"직원": ["김철수", "박철수", "김민수", "이민수"],
                    "부서": ["회계", "데이터분석", "데이터분석", "인사"]})
df2 = pd.DataFrame({"직원": ["박철수", "이민수", "김민수", "김철수"],
                     "입사년도": [2004, 2008, 2012, 2014]})
display("df1: ", df1)
display("df2: ", df2)
merged_df = pd.merge(df1, df2, on = "직원")
display("merged_df: ", merged_df)

'df1: '

    직원     부서
0  김철수     회계
1  박철수  데이터분석
2  김민수  데이터분석
3  이민수     인사

'df2: '

    직원  입사년도
0  박철수  2004
1  이민수  2008
2  김민수  2012
3  김철수  2014

'merged_df: '

    직원     부서  입사년도
0  김철수     회계  2014
1  박철수  데이터분석  2004
2  김민수  데이터분석  2012
3  이민수     인사  2008

In [45]:
sports = pd.read_csv("/content/drive/MyDrive/Colab Notebooks/TIS/연습파일/sports.csv")
subject = pd.read_csv("/content/drive/MyDrive/Colab Notebooks/TIS/연습파일/subject.csv")

#컬럼명 바꾸기 
# subjects_df.columns = [‘이름‘, ‘번호‘, ‘좋아하는 과목’]
# subjects_df
merged_df = pd.merge(sports, subject, on = "번호")
display(merged_df)

#drop
merged_df.drop("성명", axis = 1, inplace = True)
display(merged_df)

    이름  번호 좋아하는 운동   성명 좋아하는 과목
0  김민규   1      축구  김민규      영어
1  임재광   2      농구  임재광      수학
2   최선   3      배구   최선      과학
3  정승용   4      족구  정승용      국어
4  강재훈   5      배구  강재훈      역사
5  장윤제   6      축구  장윤제      지리
6  고연서   7      피구  고연서      사회
7  유원종   8   아이스하키  유원종      음악
8  채관수   9      하키  채관수      미술
9  김중교  10      축구  김중교      역사

    이름  번호 좋아하는 운동 좋아하는 과목
0  김민규   1      축구      영어
1  임재광   2      농구      수학
2   최선   3      배구      과학
3  정승용   4      족구      국어
4  강재훈   5      배구      역사
5  장윤제   6      축구      지리
6  고연서   7      피구      사회
7  유원종   8   아이스하키      음악
8  채관수   9      하키      미술
9  김중교  10      축구      역사

In [ ]:
#left_on, right_on
sports = pd.read_csv("/content/drive/MyDrive/Colab Notebooks/TIS/연습파일/sports.csv")
subject = pd.read_csv("/content/drive/MyDrive/Colab Notebooks/TIS/연습파일/subject.csv")

merged_df = pd.merge(sports, subject, left_on=["이름", "번호"], right_on=["성명", "번호"])
merged_df.drop("성명", axis = 1, inplace = True)
display(merged_df)

    이름  번호 좋아하는 운동 좋아하는 과목
0  김민규   1      축구      영어
1  임재광   2      농구      수학
2   최선   3      배구      과학
3  정승용   4      족구      국어
4  강재훈   5      배구      역사
5  장윤제   6      축구      지리
6  고연서   7      피구      사회
7  유원종   8   아이스하키      음악
8  채관수   9      하키      미술
9  김중교  10      축구      역사

In [ ]:
#drop
sports = pd.read_csv("/content/drive/MyDrive/Colab Notebooks/TIS/연습파일/sports.csv")
subject = pd.read_csv("/content/drive/MyDrive/Colab Notebooks/TIS/연습파일/subject.csv")

merged_df = pd.merge(sports, subject)

In [ ]:
#컬럼을 인덱스 자료로 설정하기

df1 = pd.DataFrame({"직원": ["김철수", "박철수", "김민수", "이민수"],
                   "부서": ["회계", "데이터분석", "데이터분석", "인사"]})
df2 = pd.DataFrame({"직원": ["박철수", "이민수", "김민수", "김철수"],
                    "입사년도": [2004, 2008, 2012, 2014]})
df1.set_index("직원", inplace = True) #직원 컬럼을 인덱스로 바꾸기
display(df1)

merged_data = pd.merge(df1, df2, left_index = True, right_on="직원") #직원컬럼이 인덱스에 있던 정보와 컬럼에 있는 직원을 결합하기
display(merged_data)

        부서
직원
김철수     회계
박철수  데이터분석
김민수  데이터분석
이민수     인사

      부서   직원  입사년도
3     회계  김철수  2014
0  데이터분석  박철수  2004
2  데이터분석  김민수  2012
1     인사  이민수  2008

##조인 방법 결정 : how
how 인자는 조인 방법을 설정하며, 입력할 수 있는 값은 다음과 같습니다.
- **inner**(기본값): 조인 키에 대한 교집합을 기준으로 병합(왼쪽 조인키와 오른쪽 조인 키에 공통으로 포함된 요소)
- **left**: 왼쪽 데이터프레임의 조인 키를 기준으로 병합
- **right**: 오른쪽 데이터프레임의 조인 키를 기준으로 병합
-**outer**: 왼쪽, 오른쪽 데이터프레임의 조인 키에 대한 합집합 기준으로 병합

In [64]:
#각각의 데이터프레임에서 서로 다른 이름을 가지는 행 하나씩을 제거(drop 메서드 활용)
sports = pd.read_csv("/content/drive/MyDrive/Colab Notebooks/TIS/연습파일/sports.csv")
subject = pd.read_csv("/content/drive/MyDrive/Colab Notebooks/TIS/연습파일/subject.csv")
sports.drop(index = 9, axis=0, inplace=True) #스포츠에서 채관수님 데이터 빼기
subject.drop(8, axis=0, inplace=True) #과목에서 김중교 데이터 빼기

#성명 -> 이름
subject.rename({"성명":"이름"}, axis = 1, inplace = True)
#그런 다음, 두 데이터프레임을 병합하는데, how의 4가지 방법 모두 써보기
#inner
display(pd.merge(sports, subject, on = ["번호", "이름"], how = "inner"))
display(pd.merge(sports, subject, on = ["번호", "이름"], how = "left"))
display(pd.merge(sports, subject, on = ["번호", "이름"], how = "right"))
display(pd.merge(sports, subject, on = ["번호", "이름"], how = "outer"))

    이름  번호 좋아하는 운동 좋아하는 과목
0  김민규   1      축구      영어
1  임재광   2      농구      수학
2   최선   3      배구      과학
3  정승용   4      족구      국어
4  강재훈   5      배구      역사
5  장윤제   6      축구      지리
6  고연서   7      피구      사회
7  유원종   8   아이스하키      음악

    이름  번호 좋아하는 운동 좋아하는 과목
0  김민규   1      축구      영어
1  임재광   2      농구      수학
2   최선   3      배구      과학
3  정승용   4      족구      국어
4  강재훈   5      배구      역사
5  장윤제   6      축구      지리
6  고연서   7      피구      사회
7  유원종   8   아이스하키      음악
8  채관수   9      하키     NaN

    이름  번호 좋아하는 운동 좋아하는 과목
0  김민규   1      축구      영어
1  임재광   2      농구      수학
2   최선   3      배구      과학
3  정승용   4      족구      국어
4  강재훈   5      배구      역사
5  장윤제   6      축구      지리
6  고연서   7      피구      사회
7  유원종   8   아이스하키      음악
8  김중교  10     NaN      역사

    이름  번호 좋아하는 운동 좋아하는 과목
0  김민규   1      축구      영어
1  임재광   2      농구      수학
2   최선   3      배구      과학
3  정승용   4      족구      국어
4  강재훈   5      배구      역사
5  장윤제   6      축구      지리
6  고연서   7      피구      사회
7  유원종   8   아이스하키      음악
8  채관수   9      하키     NaN
9  김중교  10     NaN      역사