<a href="https://colab.research.google.com/github/mesogin/TIS2/blob/main/%ED%8C%8C%EC%9D%BC(%EB%8D%B0%EC%9D%B4%ED%84%B0)%EC%9E%85%EC%B6%9C%EB%A0%A5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [8]:
%%writefile sample1.csv
c1, c2, c3
1, 1.11, one
2, 2.22, two
3, 3.33, three

Writing sample1.csv

In [5]:
import os

os.getcwd()

'/content'

###csv 파입 입력
csv 파일로부터 데이터를 읽어 데이터르레임을 만들 때는 pandas.read_csv 함수를 사용한다.

In [9]:
import pandas as pd
df = pd.read_csv('sample1.csv')
display(df)

   c1    c2      c3
0   1  1.11     one
1   2  2.22     two
2   3  3.33   three

In [11]:
pd.read_csv('sample2.csv', names =['c1', 'c2'])

       c1      c2
c1     c2      c3
1    1.11     one
2    2.22     two
3    3.33   three

In [10]:
%%writefile sample3.txt
c1|c2|c3|c4
0.179181|-1.538472|1.347553|0.43381
1.024209|0.087307|-1.281997|0.49265
0.417899|-2.002308|0.255245|-1.10515

Writing sample3.txt

In [12]:
pd.read_csv('sample3.txt', sep='|')

         c1        c2        c3       c4
0  0.179181 -1.538472  1.347553  0.43381
1  1.024209  0.087307 -1.281997  0.49265
2  0.417899 -2.002308  0.255245 -1.10515

In [13]:
%%writefile sample4.txt
파일 제목: sample4.txt
데이터 포맷의 설명:
c1, c2, c3
1, 1.11, one
2, 2.22, two
3, 3.33, three

Writing sample4.txt

In [14]:
pd.read_csv('sample4.txt', skiprows=[0, 1])

   c1    c2      c3
0   1  1.11     one
1   2  2.22     two
2   3  3.33   three

In [15]:
%%writefile sample5.csv
c1, c2, c3
1, 1.11, one
2, , two
누락, 3.33, three

Writing sample5.csv

In [16]:
#누락된 부분 or 빈칸 채우기
df = pd.read_csv('sample5.csv', na_values=['누락', ' '])
display(df)

    c1    c2      c3
0  1.0  1.11     one
1  2.0   NaN     two
2  NaN  3.33   three

In [17]:
#csv 파일 출력
df.to_csv('cleaned_data.csv')

In [18]:
!cat cleaned_data.csv #윈도우에서는 !type cleaned_data.csv 함수를 사용

,c1, c2, c3
0,1.0,1.11, one
1,2.0,, two
2,,3.33, three

In [19]:
!pwd  #현위치 나타내기

/content

In [20]:
#na_rep인수로 Nan표시값을 바꿀 수도 있다.
df.to_csv('sample8.csv', na_rep='누락')
!cat sample8.csv

,c1, c2, c3
0,1.0,1.11, one
1,2.0,누락, two
2,누락,3.33, three

In [21]:
#index, header 인수를 지정하여 인덱스 및 헤더 출력 여부를 지정하는 것도 가능하다
df.index = ["a", "b", "c"]

df.to_csv('sample9.csv', index=False, header=False)
!cat sample9.csv

1.0,1.11, one
2.0,, two
,3.33, three

In [ ]:
#웹에있는 csv 파일 불러오기
csv_url = "https://raw.githubusercontent.com/IkyeonJo/nepes_lectures/main/M4B(%EC%A4%91%EA%B8%89)/data/trade.csv"
url = pd.read_csv(csv_url)
# display(url)
#한번에 입력하기
# url = pd.read_csv("https://raw.githubusercontent.com/IkyeonJo/nepes_lectures/main/M4B(%EC%A4%91%EA%B8%89)/data/trade.csv")
# url

#간단하게 몇개만 볼경우
#시작부분 (10개)
display(url.head(10))

#끝부분 (디폴트값은 5개)
display(url.tail())

In [ ]:
url1 = pd.read_csv("https://raw.githubusercontent.com/datascienceschool/docker_rpython/master/data/titanic.csv")

url1

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [55]:
#연습문제
#인천 아파트 실거래가 데이터 가져오기

path = '/content/drive/MyDrive/Colab Notebooks/TIS/연습파일/인천광역시 서구_공동주택 실거래가_20220531.csv'
df = pd.read_csv(path, encoding= 'euc-kr')
display(df.loc[df["행정구역"].isin(["청라동"])].head(7))
cond = df["합계금액(백만원)"] / df["합계동호수(건)"]>= 800.0
display(df.loc[cond].head(10))

,행정구역,단지명,합계동호수(건),합계면적(제곱미터),합계금액(백만원),산출기간,기준일자
178,청라동,NPART,1.0,117.86,740.0,최근1년,2022-05-31
179,청라동,기타,2.0,187.66,0.0,최근1년,2022-05-31
180,청라동,인천청라한일베라체,1.0,122.78,840.0,최근1년,2022-05-31
181,청라동,청라29블럭호반베르디움,4.0,339.76,2774.0,최근1년,2022-05-31
182,청라동,청라골드클래스커낼웨이,1.0,82.92,0.0,최근1년,2022-05-31
183,청라동,청라국제금융단지한양수자인레이크블루,2.0,169.04,1755.0,최근1년,2022-05-31
184,청라동,청라더샵레이크파크,1.0,106.89,1260.0,최근1년,2022-05-31

,행정구역,단지명,합계동호수(건),합계면적(제곱미터),합계금액(백만원),산출기간,기준일자
180,청라동,인천청라한일베라체,1.0,122.78,840.0,최근1년,2022-05-31
183,청라동,청라국제금융단지한양수자인레이크블루,2.0,169.04,1755.0,최근1년,2022-05-31
184,청라동,청라더샵레이크파크,1.0,106.89,1260.0,최근1년,2022-05-31
185,청라동,청라롯데캐슬,1.0,127.12,900.0,최근1년,2022-05-31
186,청라동,청라센트럴에일린의뜰,1.0,84.98,835.0,최근1년,2022-05-31
191,청라동,청라푸르지오아파트,1.0,114.10,1130.0,최근1년,2022-05-31
192,청라동,청라한화꿈에그린,1.0,136.35,900.0,최근1년,2022-05-31

In [41]:
import numpy as np
import pandas as pd

scores = np.random.randint(100, size=(3,4))
scores_df = pd.DataFrame(scores,
                         index=['영어', '수학', '과학'],
                         columns=["A", "B", "C", "D"])
scores_df.to_excel('scores.xlsx')

In [43]:
#엑셀파일 가져오기
df = pd.read_excel("/content/drive/MyDrive/Colab Notebooks/TIS/연습파일/example.xlsx")
df

   Num  Name Grade
0    1   Kim    A+
1    2   Lee     A
2    3  Park     B